<header class="primary-header bottom-shadow">
  <h1>{{ title }}</h1>
</header>
<div class="grid-container">

  <main class="grid">
    <div class="grid-item item-1">
      <app-search-input></app-search-input>
    </div>
    <div class="grid-item item-2">
      <app-address-book-list></app-address-book-list>
    </div>
    <div class="grid-item item-3">
      <app-address-book-form></app-address-book-form>
    </div>
  </main>

</div>
<footer class="primary-footer fixed-bottom">
  <div class="inner-wrapper">
    <p class="text-right">Powered by Sergio Kagiema &copy;{{ currentYear }}</p>
  </div>
</footer>